{% extends 'base/base.html' %}   
{% load static %}

{% block title %}Log In - Django forum{% endblock %}

{% block styles %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock %}

{% block content %}
    <form method="POST" id="log_block" action="" autocomplete="off">
        {% csrf_token %}

        <div id="login_block">
            <h2 id="log_text">Log In</h2>
            <p id="sug_text">Username</p>
            <p class="log_fields">{{form.username}}</p>
            <p id="sug_text">Password</p>
            <p class="log_fields">{{form.password}}</p>

            <input type="submit" name="log_in" id="log_button" value="Log In">
            <p id="havent_acc">Don't have an account? <a href="{% url 'users:register' %}">Sing up</a></p>
        </div>

    </form>
{% endblock %}